<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket Thing1</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
</head>
<body>
    Client1
    <button onclick="sendMsg()">Send Msg</button>

    <script>
        const socket = io.connect('http://localhost:5000');

        socket.on('connect', () => {
            console.log('Connected to the WebSocket server!');
        });

        socket.on('disconnect', () => {
            console.log('Disconnected from the WebSocket server!');
        });

        socket.on('message', (data) => {
            console.log('Message from server:', data);
        });

        const sendMsg = () => {
            socket.emit('message', 'Hello from Client1!');
        };
    </script>
</body>
</html>
